{% extends 'layout.html' %}
{% block content %}
{% load i18n %}
{% load static %}
<title>Profile</title>
<link rel="stylesheet" href="{% static 'css/style-login.css' %}">

<div class="loginbox">
  <!-- Content -->
  <div class="container">
    <div class="row">

      <div class="col-lg-6">
        <div class="login-wrapper">
          <article class="card-body" style="max-width: 100%;">
            <div class="form-wrapper">
              <form method="POST" id="ibr-change-pass" action="" class="needs-validation mb-0">
                <h4 class="text-center mt-2 mb-4">{% trans "Changing Password" %}</h4>
                  <div class="row align-items-center">
                    <div class="col-md-6">
                      <ul class="change-password-notes mb-4">
                        <li>{% trans "Your password cannot be identical to your other personal information" %}</li>
			<li>{% trans "Your password should include at least 8 characters" %}</li>
			<li>{% trans "Your password cannot be a commonly used password" %}</li>
			<li>{% trans "Your password cannot be just numbers" %}</li>
		      </ul>
		    </div>								
		    <div class="col-md-6">
 		      {% csrf_token %}
		      <div class="form-group">
			<label class="d-block mb-2">{{form.old_password.label}}</label>
			{{form.old_password}
			<p class="text-danger">{{form.old_password.errors}}</p>
		      </div>

		      <div class="form-group">
			<label class="d-block mb-2">{{form.new_password1.label}}</label>
			{{form.new_password1}}
			{{form.new_password1.errors}}
		      </div>

		      <div class="form-group">
			<label class="d-block mb-2">{{form.new_password2.label}}</label>
			{{form.new_password2}}
			{{form.new_password2.errors}}
		      </div>

		    <div class="action-btns border-top pt-3">
		      <input type="submit" class="btn btn-sm btn-primary input updatebtn" value="{% trans "Submit" %}" />
		    </div>
		  </div>
		</div>
	      </form>
	    </div>
	  </article>
	</div>
      </div>
      <div class="col-lg-6"></div>
    </div>
  </div>
</div>
{% endblock %}
