{% extends 'layout.html' %}
{% load i18n %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
<meta http-equiv="refresh" content=`0; url=https://bayancoopq8.com/list_transactions/{{vendor.VEND_CODE}}`>

<section id="ibr-list-order" class="page-wrapper page-logo-header">  
  <div class="top-sec d-flex align-items-center justify-content-center justify-content-md-start mb-4">
    <div class="logo-wrapper mb-0 ml-3">
      {% if request.user.profile_pic %}
        <img class="logo-pic float-right" src="{{ request.user.profile_pic.url }}">
      {% else %}
        <img class="logo-pic float-right" src="{% static 'img/icon.png' %}">
      {% endif %}      
    </div>
    <div class="text-center text-md-right">
      <h2 class="text-center">{{ vendor.VEND_DESC_ARABIC }}</h2>
    </div>
  </div>

  <div class="table-wrapper">
    <div class="content table-responsive " id="table-div">    
      <table id="orders_table" class="table table-striped table-bordered table-sm display" style="width:100%">
        <thead>
          <tr class="text-center">
            <th class="">{% trans "Transaction No" %}</th>
            <th class="">{% trans "Transaction Date" %}</th>
            <th class="">{% trans "Transaction Type" %}</th>
            <th class="">{% trans "Transaction Details" %}</th>
	    <th class="">{% trans "Transaction state" %}</th>
          </tr>
        </thead>
        <tbody>
          {% for t in transactions %}
            <tr class="text-center">
	      {% if t.t_type == "new order" or t.t_type == "confirm order" %}
                <td class=""><a href="{% url 'print_order' order_no=t.parameter %}" class="text-info" onclick="readTransaction({{t.t_no}})">{{t.t_no}}</a></td>
	      {% elif t.t_type == "update products" %}
	        <td class=""><a href="{% url 'list_products' VEND_CODE=t.parameter %}" class="text-info" onclick="readTransaction({{t.t_no}})">{{t.t_no}}</a></td>
	      {% elif t.t_type == "upload chique" %}
	        <td class=""><a  href="" class="text-info" onclick="readTransaction({{t.t_no}})">{{t.t_no}}</a></td>
	      {% endif %}
              <td class="">{{t.t_date}}</td>
              <td class="">{% trans t.t_type %}</td>
	      <td class="">{% trans t.t_details %}</td>
	        {% if t.t_state == "unread" %}
  	          <td class="text-danger">{% trans t.t_state %}</td>
	        {% else %}
	          <td >{% trans t.t_state %}</td>
	        {% endif %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</section>
<script>
  $(document).ready(function () {
    //  $('.dataTables_length').addClass('bs-select');
    var table = $('#orders_table').DataTable({
      responsive: true,
      dom: 'Bfrtip',
      buttons: [{
	title:`<p class="text-center" hidden>{% trans "Bayan Co-operative Society" %}</p>`,
        text: `{% trans 'Print Selected Columns' %}`,
        extend: 'print',        
	messageTop: `
	  <h2><p class="text-center">{% trans "Bayan Co-operative Society" %}</p></h2>
	  <img src="https://bayancoopq8.com/static/images/logo.jpg"  class="float-right" width="100" height="100"/>		
	  <p class="text-left ml-2">{% trans "User" %}:{{request.user}}</p>
	  <p class="text-left ml-2">{% trans "Date of Day" %}:{{mydate}}</p>
	  <div class="">
	    <h4><p class="text-center">{% trans "Vendor Orders Report" %}</p></h4>
	  </div>
	  <hr style="width:80%;margin-center:0">
	  <h4><p class="text-center">{{vendor.VEND_DESC_ARABIC}}</p></h4>
		  `,
        customize: function (win) {
          $(win.document.body)
		.css( 'font-size', '10pt' )
            .prepend(
//		'<img src="https://image.freepik.com/free-vector/overlapping-forms-background_23-2148648602.jpg" style="position:absolute; top:0; left:0;" />'
            );
          $(win.document.body).find('table')
		.addClass( 'compact' )
            .css('font-size', 'inherit');
        },
        exportOptions: {
          columns: ':visible',
//	  columns: [ 1, 2, 3, 4],
          modifier: {
//            selected: null
          }
        }
      },
        'colvis',
      {
        title:`<img src="https://bayanco.site/static/images/logo.jpg"  class="float-right" width="100" height="100"/>
                <p class="text-center">{% trans "Bayan Co-operative Society" %}</p>`,
	      
        messageTop:`
          <p class="text-left">{% trans "User" %}:{{request.user}}</p>
          <p class="text-left">{% trans "Date of Day" %}:{{mydate}}</p>
          <div class="d-flex justify-content-center align-items-end">
            <h4>{% trans "Vendor Orders Report" %}</h4>
          </div>
          <hr style="width:80%;margin-center:0">
          <h4><p class="text-center">{{vendor.VEND_DESC_ARABIC}}</p></h4>`,
        extend: 'print',
        text: `{% trans 'Print Selected Rows' %}`,
        exportOptions: {
          columns: ':visible',
          columns: [ 0, 1, 2, 3, 4],
          modifier: {
 //           selected: null
          }
        }
	      
      }],
      language: {
        buttons: {
          colvis: `{% trans 'Select Columns' %}`
        }
      },
      "oLanguage": {
        "sSearch": `{% trans 'Search' %}`,
        "sEmptyTable":`{% trans 'No data available in table' %}`,
        "oPaginate": {
          "sPrevious": `{% trans 'Previous' %}`, // This is the link to the previous page
          "sNext": `{% trans 'Next' %}`, // This is the link to the next page
        }
      },
      select: true,
      columnDefs: [{
        visible: false,
        //targets: -1 
      }]
    }); new $.fn.dataTable.FixedHeader(table);
  });
</script>
<script>
function show_chique(source) {
//	window.location= source ;
}
</script>
<script>
  var readTransaction = function(no){
    $.ajax({
      type: 'GET',
            url: `/read_transaction/${no}`,
      data: {},
      success: function (response) {
      },
    });
  };
</script>

<style>
  @media print {
    table {
      border-top: #000 solid 1px;
      border-bottom: #000 solid 1px;
      border-left: #000 solid 1px;
      border-right: #000 solid 1px;
    }
  }
</style>
{% endblock %}
