{% extends 'layout.html' %}
{% load static %}
{% load i18n %}
{% block content %}

<link rel="stylesheet" href="https://printjs-4de6.kxcdn.com/print.min.css">
<script type="text/javascript" src="https://printjs-4de6.kxcdn.com/print.min.js"></script>

<section id="ibr-vendor-info" class="page-wrapper page-logo-header">
  <div class="top-sec d-flex align-items-center justify-content-center justify-content-md-start mb-4">
    <div class="logo-wrapper mb-0 ml-3">
      {% if vendor.user.profile_pic %}
        <img class="logo-pic float-right" src="{{ vendor.user.profile_pic.url }}">
      {% else %}
        <img class="logo-pic float-right" src="{% static 'img/icon.png' %}">
      {% endif %}
    </div>
    <div class="text-center text-md-right">
      <h2>{{user.first_name}} {{user.last_name}}<h2>
    </div>
  </div>

  <div class="table-wrapper">
    <div class="table-responsive " id="table-div">
      <table class="table table-striped">
        <tr>
          <th>{% trans "Full Name" %}</th>
          <td colspan="3"> {{user.first_name}} {{user.last_name}}</td>
        </tr>
        <tr>
          <th>{% trans "Username" %}</th>
          <td colspan="3"> {{user.username}}</td>
        </tr>
        <tr>
          <th>{% trans "Email" %}</th>
          <td colspan="3"> {{user.email}}</td>
        </tr>
        <tr>
          <th>{% trans "The trade name of the company" %}</th>
          <td colspan="3"> {{user.VEND_DESC_ARABIC}}</td>
        <tr>
	<tr>
 	  <th>{% trans "Phone" %}</th>
	  <td colspan="3"> {{user.phone}}</td>
        <tr>
          <th>{% trans "Person Type" %}</th>
          <td colspan="3"> {{user.person_type }}</td>
        </tr>
        <tr>
          <th>{% trans "Type of Supply" %}</th>
          <td colspan="3"> {{user.type_of_supply }}</td>
        </tr>
	
        {% if user.sign_auth %}
        <tr>
          <th>{% trans "Sign Auth" %}</th>
	  <td><img class="files file-pic" src="{{ user.sign_auth.url }}"></td>
	  <td>
            <a class="btn btn-sm btn-primary noprint" onclick='show_img(`{{ user.sign_auth.url }}`)' data-toggle="modal" data-target="#img-modal" >{% trans "show" %}</a>
          </td>
          <td><a class="btn btn-sm btn-primary noprint" id="print_order" onclick="printFunc(`{{user.sign_auth.url}}`)">
	    <i class="fa fa-print ml-2"></i>{% trans "Print" %}</a>
	  </td>
        </tr>
        {% endif %}
        {% if user.trade_book %}
        <tr>
          <th>{% trans "Trade Book" %}</th>
          <td><img class="files file-pic" src="{{ user.trade_book.url }}"></td>
          <td>
	    <a class="btn btn-sm btn-primary noprint" onclick='show_img(`{{ user.trade_book.url }}`)' data-toggle="modal" data-target="#img-modal">{% trans "show" %}</a>
	  </td>	  
          <td><a class="btn btn-sm btn-primary noprint" onclick="printFunc(`{{ user.trade_book.url }}`)"><i
                class="fa fa-print ml-2"></i>{% trans "Print" %}</a></td>
        </tr>
        {% endif %}
        {% if user.chamber_book %}
        <tr>
          <th>{% trans "Chamber Book" %}</th>
          <td><img class="files file-pic" src="{{ user.chamber_book.url }}"></td>
          <td>
	    <a class="btn btn-sm btn-primary noprint" onclick='show_img(`{{ user.chamber_book.url }}`)' data-toggle="modal" data-target="#img-modal">{% trans "show" %}</a>
	  </td>

          <td><a class="btn btn-sm btn-primary noprint" onclick="printFunc(`{{ user.chamber_book.url }}`)"><i
                class="fa fa-print ml-2"></i>{% trans "Print" %}</a></td>
        </tr>
        {% endif %}


        {% if user.trademark %}
        <tr>
          <th>{% trans "Trade Mark" %}</th>
          <td><img class="files file-pic" src="{{ user.trademark.url }}"></td>
	  <td>
	    <a class="btn btn-sm btn-primary noprint" onclick='show_img(`{{ user.trademark.url }}`)' data-toggle="modal" data-target="#img-modal">{% trans "show" %}</a>
	  </td>	  
          <td><a class="btn btn-sm btn-primary noprint" onclick="printFunc(`{{ user.trademark.url }}`)"><i
                class="fa fa-print ml-2"></i>{% trans "Print" %}</a></td>
        </tr>
        {% endif %}


        {% if user.import_license %}
        <tr>
          <th>{% trans "Import License" %}</th>
          <td><img class="files file-pic" src="{{ user.import_license.url }}"></td>
	  <td>
	    <a class="btn btn-sm btn-primary noprint" onclick='show_img(`{{ user.import_license.url }}`)' data-toggle="modal" data-target="#img-modal">{% trans "show" %}</a>
	  </td>
          <td><a class="btn btn-sm btn-primary noprint" onclick="printFunc(`{{user.import_license.url}}`)"><i
                class="fa fa-print ml-2"></i>{% trans "Print" %}</a></td>
        </tr>
        {% endif %}


        {% if user.healthy_preview %}
        <tr>
          <td>{% trans "Healthy Preview" %}</td>
          <td><img class="files file-pic" src="{{ user.healthy_preview.url }}"></td>
	  <td>
	    <a class="btn btn-sm btn-primary noprint" onclick='show_img(`{{ user.healthy_preview.url }}`)'data-toggle="modal" data-target="#img-modal">{% trans "show" %}</a>
	  </td>
          <td><a class="btn btn-sm btn-primary noprint" onclick="printFunc(`{{user.healthy_preview.url}}`)"><i
                class="fa fa-print ml-2"></i>{% trans "Print" %}</a></td>
        </tr>
        {% endif %}


        {% if user.agency_book %}
        <tr>
          <td>{% trans "Agency Book" %}</td>
          <td><img class="files file-pic" src="{{ user.agency_book.url }}"></td>
	  <td>
	    <a class="btn btn-sm btn-primary noprint" onclick='show_img(`{{ user.agency_book.url }}`)' data-toggle="modal" data-target="#img-modal">{% trans "show" %}</a>
	  </td>
          <td><a class="btn btn-sm btn-primary noprint" onclick="printFunc(`{{user.agency_book.url}}`)"><i
                class="fa fa-print ml-2"></i>{% trans "Print" %}</a></td>
        </tr>
        {% endif %}


        {% if user.varieties_revealed %}
        <tr>
          <td>{% trans "Varieties Revealed" %}</td>
          <td><img class="files file-pic" src="{{ user.varieties_revealed.url }}"></td>          
	  <td>
	    <a class="btn btn-sm btn-primary noprint" onclick='show_img(`{{ user.varieties_revealed.url }}`)' data-toggle="modal" data-target="#img-modal">{% trans "show" %}</a>
	  </td>
          <td><a class="btn btn-sm btn-primary noprint" onclick="printFunc(`{{user.varieties_revealed.url}}`)"><i
                class="fa fa-print ml-2"></i>{% trans "Print" %}</a></td>
        </tr>
        {% endif %}
        {% if user.federation_of_associations %}
        <tr>
          <td>{% trans "Federation of Associations" %}</td>
          <td><img class="files file-pic" src="{{ user.federation_of_associations.url }}"></td>
	  <td>
	    <a class="btn btn-sm btn-primary noprint" onclick='show_img(`{{ user.federation_of_associations.url }}`)' data-toggle="modal" data-target="#img-modal">{% trans "show" %}</a>
	  </td>
          <td>
	    <a class="btn btn-sm btn-primary noprint" onclick="printFunc(`{{user.federation_of_associations.url}}`)">
	      <i class="fa fa-print ml-2"></i>{% trans "Print" %}</a></td>
        </tr>
        {% endif %}
        {% if user.customs_declaration %}
        <tr>
          <th>{% trans "Customs Declaration" %}</th>
          <td><img class="files file-pic" src="{{ user.customs_declaration.url }}"></td>
          <td>
            <a class="btn btn-sm btn-primary noprint" onclick='show_img(`{{ user.customs_declaration.url }}`)' data-toggle="modal" data-target="#img-modal">{% trans "show" %}</a>
	  </td>
          <td>
            <a class="btn btn-sm btn-primary noprint" onclick="printFunc(`{{user.customs_declaration.url}}`)"><i class="fa fa-print ml-2"></i>{% trans "Print" %}</a>
          </td>	  
        </tr>
        {% endif %}
        {% if user.industrial_facility %}
        <tr>
          <th>{% trans "Industrial Facility" %}</th>
          <td class="two-elms"><img class="files file-pic" src="{{ user.industrial_facility.url }}"></td>
          <td>
	    <a class="btn btn-sm btn-primary noprint" onclick='show_img(`{{ user.industrial_facility.url }}`)' data-toggle="modal" data-target="#img-modal">{% trans "show" %}</a>
	  </td>
	  <td>
	    <a class="btn btn-sm btn-primary noprint" onclick="printFunc(`{{user.industrial_facility.url}}`)"><i class="fa fa-print ml-2"></i>{% trans "Print" %}</a>
	  </td>	  
        </tr>
        {% endif %}
	
      </table>
      <a class="btn btn-primary noprint" id="print_page_id" onclick="window.print()"><i class="fa fa-print ml-2"></i>{% trans "Print" %}</a>
    </div>
  </div>
</section>
<!-- Modal -->
<div class="modal fade" id="img-modal" tabindex="-1" role="dialog" aria-labelledby="img-modal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="img_div">
        <!-- Put the <img> here -->
      </div>
    </div>
  </div>
</div>

<script src="https://github.com/pipwerks/PDFObject/blob/master/pdfobject.min.js"></script>
<script>
  function printFunc(name) {
    var path = window.location.origin+name ;
    if (name.endsWith('.pdf')) {
      printJS(path);
    }
    else if (name.endsWith('docx')) {
      var wnd = window.open(path);
      wnd.print();
    }
    else if (name.endsWith('png') || name.endsWith('jpg') || name.endsWith('jfif')){
      printJS(name, 'image');
    }
  }
</script>
<script>
  function show_img(source) {
    type = source.split('.')[1];
    if (source.endsWith('.docx') || source.endsWith('.doc')){
      $("#img_div").html(`<iframe src="https://docs.google.com/gview?url=https://bayancoopq8.com`+source+`&embedded=true" frameborder="0" width="100%" height="600px"></iframe>`);
    }
    else if(source.endsWith('.pdf')){
      $("#img_div").html(`<embed src=https://bayancoopq8.com`+source+` frameborder="0" width="100%" height="600px">`);
    }
    else if(source.endsWith('.png') || source.endsWith('.jpg') || source.endsWith('.jfif')){
      $("#img_div").html("<img class='files file-pic' src="+source+" width='100%' >");
    }
    else if(source.endsWith('.xlsx')){
      $("#img_div").html(`<iframe src='https://view.officeapps.live.com/op/embed.aspx?src=https://bayancoopq8.com`+source+`' width='100%' height='565px' frameborder='0'> </iframe>`);
    }
  };
</script>
<style>
    @media print {
	    .noprint
      {
		    visibility: hidden;
      }

      body {
        -webkit-print-color-adjust: exact;
      }
    }
        .iframe-container {
    padding-bottom: 60%;
    padding-top: 30px; height: 0; overflow: hidden;
}

.iframe-container iframe,
.iframe-container object,
.iframe-container embed{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.modal.in .modal-dialog {
  transform: none; /*translate(0px, 0px);*/
}
  </style>

{% endblock %}
